
.circleReduceCost {
    display: block;
    position: relative;
    background-color: #e70030;
    height: 0;
    padding-bottom: 80%;
    width: 80%;
    border-radius: 1000px;
    margin: auto;
    overflow: auto;
    box-shadow: 0px 4px 6px 1px #777;
	transform: scale(1);
    transition: transform 700ms;
}

.circleAlternatives {
    display: block;
    position: relative;
    background-color: #7548ac;
    height: 0;
    padding-bottom: 80%;
    width: 80%;
    border-radius: 1000px;
    margin: auto;
    overflow: auto;
    box-shadow: 0px 4px 6px 1px #777;
    transition: transform 700ms;
}

.circleEnvironment {
    display: block;
    position: relative;
    background-color: #0058a3;
    height: 0;
    padding-bottom: 80%;
    width: 80%;
    border-radius: 1000px;
    margin: auto;
    overflow: auto;
    box-shadow: 0px 4px 6px 1px #777;
    transition: transform 700ms;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.content h1 {
    margin: auto;
    padding-top: 40%;
    font-size: 5vh;
}

.circleReduceCost:hover {
    transform: scale(1.2);
    animation: pulse1 3s infinite;
}

.circleAlternatives:hover {
    transform: scale(1.2);
    animation: pulse2 3s infinite;
}

.circleEnvironment:hover {
    transform: scale(1.2);
        animation: pulse3 3s infinite;
}

@keyframes pulse1 {
	0% {
		box-shadow: 0 0 0 0 #e70030;
	}

	70% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse2 {
	0% {
		box-shadow: 0 0 0 0 #6f4ea7;
	}

	70% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse3 {
	0% {
		box-shadow: 0 0 0 0 #00589d;
	}

	70% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 575px) {
    .circleReduceCost {
        padding-bottom: 0%;
        width: 25vh;
        height: 25vh;
    }

    .circleAlternatives {
        margin-top: -30px;
        padding-bottom: 0%;
        width: 25vh;
        height: 25vh;
    }

    .circleEnvironment {
        margin-top: -30px;
        padding-bottom: 0%;
        width: 25vh;
        height: 25vh;
    }
  }

