.backButton {
    width: auto;
    padding: 0px;
    font-size: 5vw;
    color: #000;
    background-color: transparent;
    border: none;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
}
.rowES {
    width: 60%;
    display: flex; 
    margin-left: 17%;
}

.col1 {
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: center;
}

.col2 {
    float: left;
    flex: 90%;
}

.col1Elig {
    display: flex;
    flex: 70%;
    justify-content: left;
}

.col2Elig {
    display: flex;
    flex: 30%;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.col3Elig {
    display: flex;
    flex: 30%;
    align-items: center;
    justify-content: center;
}

.formText {
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.esContainer {
    margin: auto;
    width: 60%;
}

.esImage {
    display: block;
    margin: auto;
    width: 25%;
    animation: fadeInAnimation ease 8s;
    cursor: pointer;
}

.egButton {
    margin: 30px;
    width: 120px;
    height: 50px;
    animation: fadeInAnimation ease 8s;
}

.egCombo {
    padding: 10px;
    animation: fadeInAnimation ease 8s;
}

.egCheck {
    width: 20px;
    height: 20px;
    animation: fadeInAnimation ease 8s;
}

@media screen and (max-width: 900px) {
    .rowES {
        width: 80%;
        margin-left: 8%;
    }

    .esContainer {
        padding-top: 0;
        margin: auto;
        width: 80%;
    }

    .esImage {
        display: block;
        margin: auto;
        width: 80%;
    }
  }

