.backButton {
    width: auto;
    padding: 0px;
    font-size: 5vw;
    color: #000;
    background-color: transparent;
    border: none;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.rowES {
    width: 80%;
    display: flex; 
    margin-left: 8%;
}

.rowEG {
    width: 60%;
    display: flex; 
    margin-left: 17%;
}

.col1 {
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: center;
}

.col2 {
    float: left;
    flex: 90%;
}

.col1Elig {
    display: flex;
    flex: 75%;
    justify-content: left;
    justify-content: flex-start;
}

.col2Elig {
    display: flex;
    flex: 25%;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.col1Elig1 {
    display: flex;
    flex: 100%;
    justify-content: left;
    justify-content: flex-start;
}

.col2Elig1 {
    display: flex;
    flex: 0%;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.col3Elig {
    display: flex;
    flex: 30%;
    align-items: center;
    justify-content: center;
}

.formText {
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.esContainer {
    margin: auto;
    width: 60%;
    background-color: white;
    min-height: 100vh;
    box-shadow: 10px 0 15px -4px #777, -10px 0 8px -4px #777;
    padding-bottom: 100px;
    animation: slideIn ease-out 2s;
}

.egContainer {
    margin: auto;
    width: 60%;
    background-color: white;
    min-height: 100vh;
    box-shadow: 10px 0 15px -4px #777, -10px 0 8px -4px #777;
    animation: slideIn ease-out 2s;
}

.esImage {
    display: block;
    margin: auto;
    width: 40%;
    animation: fadeInAnimation ease 4s;
    cursor: pointer;
}

#radioSection {
    animation: fadeInAnimation ease 4s;
}

.test{
    z-index: 20;
}

.esImage1 {
    width: 40%;
    height: auto;
    margin-bottom: 60px;
}

.egButton {
    margin: 30px;
    width: 120px;
    height: 50px;
    animation: fadeInAnimation ease 4s;
    margin-bottom: 80px;
}

.egCombo {
    padding: 10px;
    animation: fadeInAnimation ease 4s;
}

.egCheck {
    width: 20px;
    height: 20px;
    animation: fadeInAnimation ease 4s;
}

@media screen and (max-width: 900px) {
    .rowES {
        width: 80%;
        margin-left: 8%;
    }

    .esContainer {
        padding-top: 0;
        margin: auto;
        width: 100%;
    }

    .egContainer {
        width: 100%;
    }

    .supContainer {
        padding-top: 0;
        margin: auto;
        width: 100%;
    }

    .esImage {
        display: block;
        margin: auto;
        width: 80%;
    }
  }

@media screen and (max-width: 575px) {
  .egContainer {
    margin: auto;
    background-color: white;
    min-height: 100vh;
    box-shadow: 10px 0 15px -4px #777, -10px 0 8px -4px #777;
    animation: slideIn ease-out 2s;
}
.backButton {
    font-size: 9vw;
}
}

@keyframes slideIn {
    0% {
        transform: translateX(1800px);
    }

    100% {
        transform: translateX(0px);
    }
}

