.bottommarg {
    margin-bottom: 0px !important;
}

footer {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    width: 100%;
    z-index: 11;
}

.footerIcon {
    color: black;
}