.bottommarg {
    margin-bottom: 0px !important;
}

footer {
    position: absolute;
    background-color: #f8f9fa;
    opacity: 0.5;
    bottom: 0;
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 10px 10px black;
}

.footerIcon {
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.footerMessage {
    position: absolute;
    top: 50%;
    color: black;
    font-size: 20px;
    transform: translateY(-50%);
}

.footerLink {
    position: absolute;
    top: 50%;
    color: black;
    right: 280px;
    font-size: 25px;
    cursor: pointer;
    transform: translateY(-50%);
}

.footerLink:hover {
    color: blue;
}

.footLink {
    padding: 5px !important;
}

@media screen and (max-width: 575px) {
    .footerIcon {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 900px) {
    .footerMessage {
        display: none;
    }
    
    .footerLink {
        display: none;
    }
}


