header img {
    width: 100%;
    height: 100%;
    background: url('../images/Logo.png');
    margin: auto;
    width: 155px;
    height: 50px;
    background-size: cover;
    overflow: visible;
    z-index: 11;
}

.navbar-style {
    box-shadow: 0px 2px 5px #777;
}

.homeLogo {
    position: relative;
    top: -35px;
    width: 200px;
    height: 70px;
    box-shadow: 0px 2px 5px #777;
    border-radius: 40px 40px;
    z-index: 11;
}

.improveLocation {
    position: absolute;
    left: 15%;
}

.productLocation {
    position: absolute;
    left: 30%;
}

.supportLocation {
    position: absolute;
    right: 30%;
}

.aboutLocation {
    position: absolute;
    right: 15%;
}

.searchLocation {
    position: absolute;
    right: 2%;
}

.navText {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .improveLocation {
        position: relative;
        left: 0px;
    }
    
    .productLocation {
        position: relative;
        left: 0px;
    }
    
    .supportLocation {
        position: relative;
        left: 0px;
    }
    
    .aboutLocation {
        position: relative;
        left: 0px;
    }
    
    .searchLocation {
        position: relative;
        left: 0px;
    }
  }