.largeImprovementTile {
    display: block;
    position: fixed;
    background-color: #7548ac;
    z-index: 7;
    height: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 6px 1px #777;
    transform: skew(-10deg) translateX(-50%);
    animation: slideInTile ease-out 2s;
}

.bathroomPage .largeImprovementTile {
  animation: none;
}

.bedroomPage .largeImprovementTile {
  animation: none;
}

.livingPage .largeImprovementTile {
  animation: none;
}

.studyPage .largeImprovementTile {
  animation: none;
}

.laundryPage .largeImprovementTile {
  animation: none;
}

.kitchenPage .largeImprovementTile {
  animation: none;
}

.bathroomPage .rowES {
  animation: none;
}

.bedroomPage .rowES {
  animation: none;
}

.livingPage .rowES {
  animation: none;
}

.studyPage .rowES {
  animation: none;
}

.laundryPage .rowES {
  animation: none;
}

.kitchenPage .rowES {
  animation: none;
}

/* Code obtained from https://codepen.io/technokami/pen/abojmZa */
#house {
    display: block;
    height: 27vw;
    width: 26vw;
    background-image: url("../images/House\ Layout.png");
    margin: auto;
    margin-top: 230px;
    /*
      * Adding image to the background
      * No relation to the hover effect.
      */
    background-repeat: no-repeat;
    background-size: cover;
}

.rowImp {
    width: 80%;
    display: flex; 
    margin-left: 8%;
    margin-bottom: 20px;
}

.impTitleImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    /** Image from https://www.designairmt.com/learn/istock-639009204-couple-kitchen-laptop/ **/
    background-image: url("../images/impTitleImage.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.impPanel {
    position: absolute;
    bottom: 9%;
    right: -150px;
    width: 40%;
    height: 20%;
    background-color: #7548ac;
    border-radius: 100px;
}

.impPanelText {
    position: absolute;
    left: 15%;
    top: 50%;
    text-transform: uppercase;
    font-size: 2.3vw;
    color: #ffffff;
    transform: translateY(-50%);
}

.impRoomPanel {
  position: fixed;
  bottom: 9%;
  right: 0px;
  width: 35%;
  height: 20%;
  background-color: #7548ac;
  border-radius: 100px 0 0 100px;
  overflow: hidden;
}

.impRoomPanelText {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  font-size: 2.3vw;
  color: #ffffff;
  transform: translateY(-50%);
}

.bedroom {
  position: absolute;
  top: 5%;
  left: 9%;
  width: 38%;
  height: 34%;
  cursor: pointer;
}

.bathroom {
  position: absolute;
  top: 56%;
  left: 5%;
  width: 20%;
  height: 43%;
  cursor: pointer;
}

.laundry {
  position: absolute;
  top: 38.5%;
  left: 37%;
  width: 10%;
  height: 19%;
  cursor: pointer;
}

.study {
  position: absolute;
  top: 68%;
  left: 24.5%;
  width: 19.5%;
  height: 10%;
  cursor: pointer;
}

.living {
  position: absolute;
  top: 19%;
  left: 46.5%;
  width: 39%;
  height: 38.5%;
  cursor: pointer;
}

.kitchen1 {
  position: absolute;
  top: 77.5%;
  left: 24.5%;
  width: 40%;
  height: 21.5%;
  cursor: pointer;
}

.kitchen2 {
  position: absolute;
  top: 68%;
  left: 43.5%;
  width: 21%;
  height: 31%;
  cursor: pointer;
}

.scrollContainer > .bedroomImg {
  position: relative;
  min-width: 1600px;
  width: 100%;
  height: 100%;
  background-image: url("../images/bedroom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.infoDotBedroom1 {
  z-index: 4;
  position: absolute;
  top: 49%;
  left: 19.5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotBedroom2 {
  z-index: 3;
  position: absolute;
  top: 36%;
  left: 79%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.scrollContainer > .kitchenImg {
  position: relative;
  min-width: 1600px;
  width: 100%;
  height: 100%;
  background-image: url("../images/kitchen.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.scrollContainer {
  height: 100vh;
  width: 100vw;
  margin-left: 10%;
  position: relative;
  overflow-x: auto;
}

.impProdTile .infoDotKitchen1 {
  position: absolute;
  top: 50%;
  margin-left: -200px;
  width: 310px;
  height: 380px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: 60px;
  transform: translateY(-50%);
  box-shadow: 1px 1px 4px #000000;
  padding: 10px
}

.infoDotKitchen1 {
  z-index: 4;
  position: absolute;
  top: 75%;
  left: 20.5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotKitchen2 {
  z-index: 3;
  position: absolute;
  top: 52%;
  left: 28.1%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotKitchen3 {
  position: absolute;
  top: 51%;
  left: 58.5%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotKitchen4 {
  position: absolute;
  top: 54%;
  left: 70%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotKitchen5 {
  position: absolute;
  top: 58%;
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.scrollContainer > .bathroomImg {
  position: relative;
  min-width: 1600px;
  width: 100%;
  height: 100%;
  background-image: url("../images/bathroom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.infoDotBathroom1 {
  z-index: 4;
  position: absolute;
  top: 52%;
  left: 61%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.scrollContainer > .livingImg {
  position: relative;
  min-width: 1600px;
  width: 100%;
  height: 100%;
  background-image: url("../images/living_room.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.infoDotLiving1 {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 21.5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotLiving2 {
  z-index: 3;
  position: absolute;
  top: 45%;
  left: 56%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.scrollContainer > .studyImg {
  position: relative;
  min-width: 1600px;
  width: 100%;
  height: 100%;
  background-image: url("../images/study.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.infoDotStudy1 {
  z-index: 4;
  position: absolute;
  top: 45%;
  left: 34%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotStudy2 {
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 69%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotStudy3 {
  position: absolute;
  top: 51%;
  left: 58.5%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.scrollContainer > .laundryImg {
  position: relative;
  min-width: 1600px;
  width: 100%;
  height: 100%;
  background-image: url("../images/laundry.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.infoDotLaundry1 {
  position: absolute;
  top: 68%;
  left: 48%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.infoDotLaundry2 {
  position: absolute;
  top: 72%;
  left: 30%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  cursor: pointer;
  transition: 1s ease-in-out;
  animation: pulse1 3s infinite;
}

.impContainer {
  width: 100%;
  background-color: white;
  min-height: 100%;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.impProdTile {
  position: absolute;
  top: 50%;
  margin-left: -155px;
  width: 310px;
  height: 380px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: 60px;
  transform: translateY(-50%);
  box-shadow: 10px 10px 10px 10px #000000;
  padding: 10px
}

.impProdTileType {
  width: 100%;
  height: auto;  
  text-align: left;
}

.impProdTileTypeText {
  text-transform: uppercase;
  font-size: 15px;
  animation: fadeIn 1.4s;
}

.impConsumptionSymbol {
  position: absolute;
  width: 25%;
  padding-bottom: 25%;
  top: -10px;
  right: -10px;
  z-index: 4;
  animation: fadeIn 1.4s;
}

.impConsumption {
  position: absolute;
  width: 25%;
  font-size: 15px;
  padding-bottom: 25%;
  top: 10px;
  right: -10px;
  animation: fadeIn 1.4s;
}

.impConsumptionText {
  font-size: 8px;
  animation: fadeIn 1.4s;
}

.impProductName {
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  animation: fadeIn 1.4s;
}

.impProductGrid {
  position: relative;
  align-items: center;
  align-content: center;
  float: center;
}

.impProdTitleBox {
  position: absolute;
  width: 100%;
  z-index: 2;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 40px;
}

.impProductImage {
  position: absolute;
  top: 40px;
  left: 50%;
  width: auto;
  height: 38%;
  float: right;
  transform: translateX(-50%);
  animation: fadeIn 1.4s;
}

.impProductDescription {
  margin-top: 52%;
  font-size: 11.9px;
  text-align: center;
  animation: fadeIn 1.4s;
}

.impTileExit {
  position: absolute;
  background-image: url("../images/close\ icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  animation: fadeIn 1.4s;
}

@media screen and (max-width: 900px) {
 .impContainer {
      padding-top: 0;
      margin: auto;
      width: 100%;
  }

  #house {
    height: 57vw;
    width: 54.5vw;
  }

  .impPanel {
    display: none;
}

  .kitchenImg {
    left: 0;
    overflow-x: visible;
    overflow-y: hidden;
  }

  .scrollContainer {
    margin-left: 0;
  }

  .laundryImg {
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .studyImg {
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .bedroomImg {
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .livingImg {
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .bathroomImg {
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }


  .largeImprovementTile {
    display: none;
}
}

@media screen and (max-width: 575px) {
  #house {
    height: 82vw;
    width: 80vw;
    margin-left: 70px;
    margin-top: 200px;
  }

  .impRoomPanel {
    display: none;
  }
  
  .impRoomPanelText {
    display: none;
  }

  .impSwiperContainer {
    position: fixed;
    bottom: 8%;
    left: 0;
    background-color: #7548ac;
    width: 100%;
    height: 70px;
  }

  .impSwiperText {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swiperArrowLeft {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 40px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .swiperArrowRight {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 40px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1;}
}

