/* Code obtained from https://codepen.io/technokami/pen/abojmZa */
#house {
    display: block;
    height: auto;
    width: 60%;
    background-color: transparent;
    margin: 0 auto;
    
    /*
      * Adding image to the background
      * No relation to the hover effect.
      */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #house:hover {
    cursor: pointer;
  }

.rowImp {
    width: 80%;
    display: flex; 
    margin-left: 8%;
    margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
    #house {
        height: auto;
        width: 100%;
      }
}

