.largeProductTile {
    display: block;
    position: fixed;
    background-color: #0058a3;
    z-index: 1;
    height: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 6px 1px #777;
    transform: skew(-10deg) translateX(-40%);
    animation: slideInTile ease-out 2s;
}

.prodTitleImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    /** Image from https://www.designairmt.com/learn/istock-639009204-couple-kitchen-laptop/ **/
    background-image: url("../images/efficient-products-card-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.topButton {
    position: relative;
    text-transform: uppercase;
    margin-left: 2vw;
    font-size: 0.7vw;
    height: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 4px #000000;
    width: auto;
}

.topButtonPressed {
    position: relative;
    text-transform: uppercase;
    background-color: lightgrey;
    margin-left: 2vw;
    font-size: 0.7vw;
    height: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 1px solid grey;
    border-radius: 50px;
    width: auto;
}

.topButton:hover 
{
    background-color: lightgrey;
}

.buttonRow {
    width: 100%;
    margin-bottom: 70px;
}

.prodContainer {
    width: 100%;
    margin: auto;
    background-color: white;
    min-height: 100vh;
}

.prodArea {
    padding-top: 340px;
    width: 67%;
    margin-left: 30%;
    padding-bottom: 100px;
    align-items: center;
    align-content: center;
    float: center;
}

.prodCol {
    width: 310px;
    height: 380px;
    margin-bottom: 30px;
}

.prodTile {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 60px;
    padding: 10px;
    box-shadow: 1px 1px 4px #000000;
}

.impProdTile {
    position: relative;
    margin-top: -190px;
    margin-left: -155px;
    width: 310px;
    height: 380px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 60px;
    padding: 10px;
    box-shadow: 1px 1px 4px #000000;
}

.prodTileType {
    width: 100%;
    height: auto;  
    text-align: left;
}

.prodTileTypeText {
    text-transform: uppercase;
    font-size: 15px;
}

.consumptionSymbol {
    position: absolute;
    width: 25%;
    padding-bottom: 25%;
    top: -10px;
    right: -10px;
}

.consumption {
    position: absolute;
    width: 25%;
    font-size: 15px;
    padding-bottom: 25%;
    top: 10px;
    right: -10px;
}

.consumptionText {
    font-size: 8px;
}

.productName {
    position: absolute;
    width: 50%;
    font-size: 23px;
    bottom: -5px;
    text-align: left;
    text-transform: uppercase;
}

.productGrid {
    position: relative;
    align-items: center;
    align-content: center;
    float: center;
}

.productImage {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 80px;
    height: auto;
    float: right;
}

.productDescription {
    font-size: 10px;
    text-align: left;
}

.swiperContainer {
    position: relative;
    background-color: #0058a3;
    width: 100%;
    height: 70px;
}

.swiperBtn {
    padding-top: -40px;
    color: #ffffff;
}

.swiperText {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mySwiper {
    display: none;
}

@media screen and (max-width: 900px) {
    .largeProductTile {
        display: none;
    }

    .prodArea {
        padding-top: 310px;
        width: 100%;
        margin: auto;

    }

    .topButton {
        position: relative;
        text-transform: uppercase;
        margin-left: 0;
        font-size: 1.5vw;
        height: 3.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 50px;
        border: none;
        box-shadow: 1px 1px 4px #000000;
        width: auto;
    }

    .buttonRow {
        width: 100%;
        margin: 0;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 576px) {
    .productTiles .row .col-sm-7 {
        flex: 0 0 auto;
        width: 50%;
    }

    .mySwiper .col-sm-7 {
        flex: 0 0 auto;
        width: 50%;
    }

    .prodTile {
        position: relative;
        width: 310px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-right: 0;
        padding: 10px;
        box-shadow: 1px 1px 4px #000000;
    }

    .buttonRow {
        margin-bottom: 0;
    }

    .topButton {
        position: relative;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-left: 2vw;
        font-size: 3vw;
        height: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        border-radius: 50px;
        border: none;
        box-shadow: 1px 1px 4px #000000;
        width: auto;
    }

    .topButtonPressed {
        margin-bottom: 10px;
        margin-left: 2vw;
        font-size: 3vw;
        height: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        border-radius: 50px;
        border: 1px solid grey;
        width: auto;
    }

    .prodArea {
        padding-top: 270px;
        padding-bottom: 40px;
    }

    .prodTitleImage {
        height: 250px;
    }
}