.homePage {
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/homepage_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.energySaving {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgb(231,0,48);
background: linear-gradient(180deg, rgba(231,0,48,1) 0%, rgba(111,78,167,1) 50%, rgba(0,88,157,1) 100%);
}

.elegibilityPage {
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(231,0,48);
    background: linear-gradient(180deg, rgba(231,0,48,1) 0%, rgba(111,78,167,1) 50%, rgba(0,88,157,1) 100%);
}

.aboutPage {
    display: none;
}

.supportPage {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgb(231,0,48);
    background: linear-gradient(180deg, rgba(231,0,48,1) 0%, rgba(111,78,167,1) 50%, rgba(0,88,157,1) 100%);
}