.homePage {
    display: block;
    min-height: 100%;
    width: 100%;
    background-image: url("../images/home\ background\ low\ opacity.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: transparent;
}

.homeSVG {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-width: 1920px;
    height: 100%;
    overflow: hidden;
}

.energySaving {
    display: none;
    width: 100%;
    height: 100%;
}

.elegibilityPage {
    display: none;
    width: 100%;
    height: 100%;
}

.productsPage {
    display: none;
    width: 100%;
    height: 100%;
}

.improvementsPage {
    display: none;
    width: 100%;
    height: 100%;
}

.bedroomPage {
    display: none;
    width: 100%;
    height: 100%;
}

.kitchenPage {
    display: none;
    width: 100%;
    height: 100%;
}

.bathroomPage {
    display: none;
    width: 100%;
    height: 100%;
}

.livingPage {
    display: none;
    width: 100%;
    height: 100%;
}

.laundryPage {
    display: none;
    width: 100%;
    height: 100%;
}

.studyPage {
    display: none;
    width: 100%;
    height: 100%;
}

.aboutPage {
    display: none;
    width: 100%;
    height: 100%;
}

.supportPage {
    display: none;
    width: 100%;
    height: 100%;
}

.resultsPageFalse {
    display: none;
    width: 100%;
    height: 100%;
}

.resultsPageTrue {
    display: none;
    width: 100%;
    height: 100%;
}

.noResultPage {
    display: none;
    width: 100%;
    height: 100%;
}

.multiResultPage {
    display: none;
    width: 100%;
    height: 100%;
}