.homePage {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../images/homepage_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.energySaving {
    display: none;
    width: 100vw;
    height: 100vh;
}

.elegibilityPage {
    display: none;
    width: 100%;
    height: 100%;
}

.productsPage {
    display: none;
    width: 100vw;
    height: 100vh;
}

.improvementsPage {
    display: none;
    width: 100%;
    height: 100%;
}

.aboutPage {
    display: none;
}

.supportPage {
    display: none;
    width: 100vw;
    height: 100vh;
}