.rowSup {
    width: 60%;
    display: flex; 
    margin-left: 17%;
    margin-top: 80px;
    animation: fadeInAnimation ease 4s
}

.supportButton1 {
    display: inline-block;
    width: 90%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 2px 5px 5px #888888;
    font-size: 2vw;
    transition: all 0.4s ease 0s;
}

.supportButton1:hover {
    width: 92%;
	background: #e70030;
    color: white;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.supportButton2 {
    display: inline-block;
    width: 90%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 2px 5px 5px #888888;
    font-size: 2vw;
    transition: all 0.4s ease 0s;
}

.supportButton2:hover {
    width: 92%;
	background: #7548ac;
    color: white;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.supportButton3 {
    display: inline-block;
    width: 90%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 2px 5px 5px #888888;
    font-size: 2vw;
    transition: all 0.4s ease 0s;
}

.supportButton3:hover {
    width: 92%;
	background: #0058a3;
    color: white;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.supContainer {
    margin: auto;
    width: 70%;
    background-color: white;
    min-height: 100vh;
    box-shadow: 10px 0 15px -4px #777, -10px 0 8px -4px #777;
    animation: slideIn ease-out 2s;
}

.supportPage > .supContainer > .jumbotron {
    width: 100%;
}

.aboutPage > .supContainer > .jumbotron {
    width: 80%;
}

@media screen and (max-width: 900px) {
    .rowSup {
        width: 80%;
        margin-left: 8%;
    }

    .supportButton1 {
        font-size: 3vw;
    }

    .supportButton2 {
        font-size: 3vw;
    }

    .supportButton3 {
        font-size: 3vw;
    }
  }

@media screen and (max-width: 575px) {
    .rowSup {
        width: 100%;
        margin-left: 0; 
    }

    .supportButton1 {
        font-size: 4vw;
    }

    .supportButton2 {
        font-size: 4vw;
    }

    .supportButton3 {
        font-size: 4vw;
    }

    .supContainer {
        width: 100%;
    }

    .supContainer > .jumbotron {
        width: 80%;
    }
}