.titleLight {
    font-size: 3vw;
    color: #777777;
    font-weight:400;
    text-transform: uppercase;
}

.titleBold {
    font-size: 3vw;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.sectionTitle {
    font-size: 3vw;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.titleBox1 {
    padding-top: 120px;
    padding-bottom: 50px;
    animation: fadeInAnimation ease 3s
}

.titleBox2 {
    animation: fadeInAnimation ease 5s;
}

.titleBox3 {
    padding-top: 100px;
    animation: fadeInAnimation ease 8s;
}

.titleBox2 > .titleLight {
    font-size: 1.5vw;
    color: #777777;
    font-weight: 400;
    text-transform: uppercase;
}

.tileText {
    position: relative;
    text-transform: uppercase;
    margin-top: 90%;
    color: white;
    font-size: 1.6vw;
    text-align: center;
    transform: skew(10deg);
}

.tileDescription {
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    color: white;
    font-size: 0.7vw;
    margin: 10px;
    text-align: center;
    text-align: justify;
}

.tileHeading {
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 1.6vw;
    margin: 10px;
    text-align: center;
}

.iconLabel {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.esDescription {
    width: 80%;
    margin: auto;
    font-size: 1.7vw;
    margin-bottom: 40px;
    animation: fadeInAnimation ease 4s
}

.egDescription {
    width: 80%;
    font-size: 1.7vw;
    margin-bottom: 40px;
    text-align: left;
    animation: fadeInAnimation ease 4s
}

.esDescriptionSmall {
    font-size: 1vw;
    margin-bottom: 40px;
    animation: fadeInAnimation ease 4s
}

.esHeading {
    text-transform: uppercase;
    font-size: 2.2vw;
    animation: fadeInAnimation ease 4s;
    cursor: pointer;
}

.esTitleBox {
    width: 80%;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 40px;
    animation: fadeInAnimation ease 4s
}

.para {
    width: 70%;
    margin: auto;
}

.aboutHeading1 {
    text-transform: uppercase;
    font-size: 2.2vw;
    animation: fadeInAnimation ease 4s;
    padding-top: 40px;
    color: #000000;
    width: 70%;
}

.aboutHeading2 {
    text-transform: uppercase;
    font-size: 2.2vw;
    animation: fadeInAnimation ease 4s;
    padding-top: 40px;
    color: #000000;
    float: right;
    width: 70%;
}

.aboutDescription {
    font-size: 1.7vw;
    margin-bottom: 40px;
    padding-top: 10px;    
    animation: fadeInAnimation ease 4s;
    text-align: justify;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 575px) {
    .titleBox1 {
        padding-bottom: 20px;
        margin-top: -20px;
    }

    .titleBox2 {
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }

    .titleBox3 {
        padding-top: 30px;
        animation: fadeInAnimation ease 8s;
        padding-bottom: 70px;
    }

    .titleBox2 > .titleLight {
        font-size: 15px;
    }

    .titleLight {
        font-size: 25px;
    }
    
    .titleBold {
        font-size: 25px;
    }

    .jumbotron.text-center {
        padding-top: 0;
    }

    .tileText {
        margin-top: 70%;
        font-size: 2.4vw;
        text-align: center;
        transform: skew(0);
    }

    .tileDescription {
        position: absolute;
        top: 60px;
        text-transform: uppercase;
        color: white;
        font-size: 1.8vw;
        margin: 10px;
        text-align: center;
    }
    
    .tileHeading {
        position: absolute;
        top: 15px;
        text-transform: uppercase;
        left: 50%;
        color: white;
        font-size: 2.4vw;
        margin: 10px;
        text-align: center;
        transform: translateX(-65%);
    }

    .esDescription {
        font-size: 15px;
    }

    .esDescriptionSmall {
        font-size: 12px;
    }

    .egDescription {
        font-size: 15px;
    }

    .esHeading {
        text-transform: uppercase;
        font-size: 20px;
    }

    .esHeadingAlt {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 100px;
    }

    .sectionTitle {
      font-size: 5vw;
    }

    .para {
        width: 70%;
    }

    .aboutHeading {
        font-size: 5vw;
    }
    
    .aboutDescription {
        font-size: 3vw;
    }

    .aboutHeading1 {
        font-size: 2.8vw;
        width: 55%;
    }
    
    .aboutHeading2 {
        font-size: 2.8vw;
        width: 55%;
    }
  }

  @media (max-width: 992px) {
    .iconLabel {
        display: none;
    }
}