.titleLight {
    z-index: 3;
    font-size: 3vw;
    color: #777777;
    font-weight:400;
    text-transform: uppercase;
}

.titleBold {
    z-index: 3;
    font-size: 3vw;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.sectionTitle {
    font-size: 3vw;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.sideNav {
    position: absolute;
    z-index: 3;
    top: 250px;
    left: 45%;
    width: 70%;
    height: 50%;
    transform: skew(10deg);
}

.elgSideNav {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 10%;
    color: #ffffff;
    font-size: 2.3vw;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.resultsPageTrue .elgSideNav {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 10%;
    color: #ffffff;
    opacity: 0.5;
    font-size: 2.3vw;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.resultsPageFalse .elgSideNav {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 10%;
    color: #ffffff;
    opacity: 0.5;
    font-size: 2.3vw;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.elgSideNav2 {
    display: none;
    z-index: 3;
    position: fixed;
    top: 13%;
    left: 10%;
    color: #ffffff;
    font-size: 2.3vw;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.elegibilityPage > .largeIncetiveTile > .sideNav > .elgSideNav2 {
    z-index: 3;
    position: fixed;
    top: 13%;
    left: 10%;
    color: #ffffff;
    opacity: 0.5;
    font-size: 2.3vw;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.titleBox1 {
    z-index: 3;
    padding-top: 120px;
    padding-bottom: 50px;
    animation: fadeInAnimation ease 3s forwards
}

.titleBox2 {
    z-index: 3;
    padding-bottom: 100px;
    animation: fadeInAnimation ease 5s forwards;
}

.titleBox2 > .titleLight {
    font-size: 1.5vw;
    color: #777777;
    font-weight: 400;
    text-transform: uppercase;
}

.tileText {
    position: relative;
    text-transform: uppercase;
    margin-top: 90%;
    color: white;
    font-size: 1.6vw;
    text-align: center;
    transform: skew(10deg);
}

.tileDescription {
    position: absolute;
    top: 20%;
    color: white;
    font-size: 0.7vw;
    margin: 10px;
    text-align: center;
}

.tileHeading {
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 1.6vw;
    margin: 10px;
    text-align: center;
}

.iconLabel {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.esDescription {
    width: 80%;
    margin: auto;
    font-size: 1.7vw;
    margin-bottom: 40px;
    animation: fadeInAnimation ease 4s
}

.egDescription {
    width: 80%;
    font-size: 1.7vw;
    margin-bottom: 40px;
    text-align: left;
    animation: fadeInAnimation ease 4s
}

.egDescriptionAlt {
    width: 80%;
    font-size: 1.1vw;
    margin-bottom: 40px;
    text-align: left;
    animation: fadeInAnimation ease 4s
}

.esDescriptionSmall {
    font-size: 1vw;
    margin-bottom: 40px;
    animation: fadeInAnimation ease 4s
}


.elgResultHeading {
    text-transform: uppercase;
    font-size: 2.6vw;
    margin-top: 60px;
    margin-bottom: 30px;
    animation: fadeInAnimation ease 4s;
}

.elgResultDescription {
    width: 100%;
    margin: auto;
    font-size: 1.7vw;
    margin-bottom: 20px;
    animation: fadeInAnimation ease 4s
}

.esHeading {
    text-transform: uppercase;
    font-size: 2.2vw;
    animation: fadeInAnimation ease 4s;
}

.esHeading1 {
    text-transform: uppercase;
    font-size: 2.2vw;
    animation: fadeInAnimation ease 4s;
}

.esHeading2 {
    text-transform: uppercase;
    font-size: 2.2vw;
    margin: auto;
    width: 30%;
    padding-top: 40px;
    animation: fadeInAnimation ease 4s;
    cursor: pointer;
}

.esHeading2:hover {
    color: blue;
    text-decoration: underline;
}

.esTitleBox {
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: auto;
    z-index: 10;
    padding-top: 120px;
    padding-bottom: 40px;
}

.para {
    width: 70%;
    margin: auto;
}

.aboutHeading1 {
    text-transform: uppercase;
    font-size: 1.7vw;
    animation: fadeInAnimation ease 4s;
    padding-top: 40px;
    color: #000000;
    width: 100%;
    padding-top: 330px;
}

.aboutHeading2 {
    text-transform: uppercase;
    font-size: 1.7vw;
    animation: fadeInAnimation ease 4s;
    padding-top: 40px;
    color: #000000;
    float: right;
    width: 100%;
}

.aboutDescription {
    font-size: 1.3vw;
    margin-bottom: 40px;
    padding-top: 10px;    
    animation: fadeInAnimation ease 4s;
    text-align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 575px) {
    .titleBox1 {
        padding-bottom: 20px;
        margin-top: -20px;
    }

    .esHeading {
        margin: auto;
        width: 80%;
        font-size: 3.5vw;
    }

    .titleBox2 {
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }

    .titleBox3 {
        padding-top: 30px;
        animation: fadeInAnimation ease 8s;
        padding-bottom: 70px;
    }

    .titleBox2 > .titleLight {
        font-size: 15px;
    }

    .titleLight {
        font-size: 25px;
    }
    
    .titleBold {
        font-size: 25px;
    }

    .jumbotron.text-center {
        padding-top: 0;
    }

    .tileText {
        margin-top: 70%;
        font-size: 13px;
        text-align: center;
        transform: skew(0);
    }

    .tileDescription {
        position: absolute;
        width: 80%;
        left: 6%;
        top: 20%;
        color: white;
        font-size: 14px;
        margin: 10px;
        text-align: center;
        align-items: center;
    }
    
    .tileHeading {
        position: absolute;
        top: 16px;
        text-transform: uppercase;
        left: 50%;
        color: white;
        font-size: 13px;
        margin: 10px;
        text-align: center;
        transform: translateX(-60%);
    }

    .esDescription {
        font-size: 4.5vw;
    }

    .esDescriptionSmall {
        font-size: 12px;
    }

    .egDescription {
        font-size: 15px;
    }

    .esHeading1 {
        text-transform: uppercase;
        font-size: 30px;
    }

    .esHeading2 {
        text-transform: uppercase;
        font-size: 30px;
        width: 50%;
    }

    .esHeadingAlt {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 100px;
    }

    .sectionTitle {
      font-size: 6vw;
    }

    .para {
        width: 70%;
    }

    .aboutHeading {
        font-size: 5vw;
    }
    
    .aboutDescription {
        margin-bottom: 0;
        font-size: 3vw;
    }

    .aboutHeading1 {
        font-size: 3.2vw;
    }
    
    .aboutHeading2 {
        font-size: 3.2vw;
    }

    .titleBox2 {
        padding-bottom: 0;
    }

    .egDescriptionAlt {
        font-size: 2.7vw;
    }
  }

@media (max-width: 900px) and (min-width: 578px) {
    .esHeading1 {
        font-size: 3vw;
    }

    .esHeading2 {
        font-size: 3vw;
        width: 30%;
    }

    .esDescription {
        font-size: 2.5vw;
    }
    
    .aboutDescription {
        font-size: 3vw;
    }

    .esDescriptionSmall {
        font-size: 1.5vw;
    }

    .aboutHeading1 {
        font-size: 3.5vw;
    }
    
    .aboutHeading2 {
        font-size: 3.5vw;
    }

    .egDescriptionAlt {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 1600px) {
    .sectionTitle {
        font-size: 60px;
    }
  }
